 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header header5">
        <div class="container contmargtop">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @article.title %></h1>
                        
                        <span class="meta">
                          <%= link_to 'Show', @article %> |
                          <%= link_to 'Back', articles_path %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="container">
  <h2>Editing Article</h2>
  
  <%= render 'form' %>
  
 
</div>